{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
<div class="category-views">
  <div class="container">
    <div class="row">

      <div class="col-sm-9 ml-auto mr-auto text-center">
        <div class="category-container">
          <h2>Explore categories</h2>
          <p>If you looking for something specific check the most visited <span class="custom">categories</span></p>
          <div class="row">

            {# -- Iterate view rows -- #}
            {% for row in rows.0['#rows'] %}
              {% set the_image = row['#row']._entity.field_category_image %}
              <div class="col-md-6 col-lg-3 mb-3">
                <div class="category">

                  {# -- display category image -- #}
                  <div class="image mb-4"><img class="img-fluid" src="{{ file_url(the_image.entity.uri.value) }}" alt="{{ the_image.0.alt }}"></div>
                  {# -- /display category image -- #}

                  {# -- display category title -- #}
                  <div class="title">{{ row['#row'].taxonomy_term_field_data_node_field_data_name }}</div>
                  {# -- /display category title -- #}

                </div>
              </div>
            {% endfor %}
            {# -- /Iterate view rows -- #}

          </div>

          <div class="button"><a class="agr-btn btn btn-primary mt-4" href="#" role="button">All Categories</a></div>
        </div>
      </div>

    </div>
  </div>
</div>
